
aula2/Logs/shadercompiler-UnityShaderCompiler.exe9.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe8.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe7.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe6.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe5.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe4.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe3.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe2.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe11.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe10.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe1.log
aula2/Logs/shadercompiler-UnityShaderCompiler.exe0.log
aula2/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
aula2/Library/SourceAssetDB
aula2/Library/ShaderCache/EditorEncounteredVariants
aula2/Library/PackageManager/ProjectCache.md5
aula2/Library/PackageManager/ProjectCache
aula2/Library/CurrentLayout-default.dwlt
aula2/Library/ArtifactDB
